* {
    box-sizing: border-box;
}

.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 20px 0;
}

#MultiviewContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.col2 {
    flex: 1;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
}